.site-header{
    background-color:var(--color-blue);
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1.5rem;
    width:min(100% - 2rem, 72rem);
    margin:0 auto;
    padding:1.25rem 0;
}

.nav__logo{
    display:inline-flex;
    align-items:center;
    color:var(--color-yellow);
    font-size:1.25rem;
    font-weight:400;
}

.nav__logo-image{
    display:block;
    width:auto;
    height:2.5rem;
    padding: 5px;
}

.nav__list{
    display:flex;
    align-items:center;
    gap:1rem;
}

.nav__link{
    color:var(--color-white);
}

.nav__link--button{
    display:inline-block;
    padding:0.65rem 1rem;
    border-radius:0.5rem;
    background-color:var(--color-orange);
    color:var(--color-white);
}

@media (max-width:40rem){
    .nav{
        align-items:flex-start;
        flex-direction:column;
    }

    .nav__list{
        align-items:flex-start;
        flex-direction:column;
    }
}
